:root {
  --click-blue: #1d43b7;
  --off-blue: #D2E8FF;
  --light-blue: #4191E1;
  --dark-blue: #2D669D;
  --darkish: #2F2F2F;
  --trans-black: rgba(0, 0, 0, 0.25);
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1, h2 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
}

.noa {
  color: inherit;
}

p {
  margin-top: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

header {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

#logo {
  position: absolute;
  left: 2%;
  top: 3%;
  font-family: 'Open Sans', sans-serif;
}

#logo img {
  padding-right: 1em;
}

#logo-right {
  color: white;
}

#logo-right h2 {
  font-weight: 600;
  margin-bottom: .1em;
}

#logo-right p {
  font-weight: 300;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: RoyalBlue;
  color: var(--off-blue);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  width: 281px;
  height: 53px;
  left: 50%;
  top: 81%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  border: none;
}

.button:active {
  background-color: var(--click-blue);
}

#form-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: auto;
  padding-bottom: 30px;
}

#search-form {
  width: 60%;
  margin: auto;
  padding-top: 3em;
}

.search-dropdown {
  border-radius: 12px;
  height: 43px;
  width: 49.5%;
  padding: 1em;
}

.search-2nd-row {
  margin-top: 3em;
  width: 32%;
  height: 46px;
  border-radius: 14px;
}

.search-dropdown, .search-2nd-row {
  border: none;
  background: var(--darkish);
  color: white;
}

.tip-oglasa-bar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.tip-oglasa-bar label {
  width: 20%;
  text-align: center;
  margin-top: 3em;
  display: inline-block;
  background-color: var(--darkish);
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 28px;
}

.tip-oglasa-bar input[type="radio"]:checked + label {
  background-color: RoyalBlue;
  color: white;
}

.button-search {
  position: relative;
  transform: none;
  left: 0%;
  top: 0%;
}

.reklame {
  padding: 5em;
  max-width: 800px;
  margin: auto;
}

.reklame-slides {
  align-items: center;
  margin-bottom: 5em;
}

.reklame-slides h2 {
  flex-grow: 1;
  text-align: center;
  color: RoyalBlue;
}

.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--off-blue);
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.active {
  background-color: RoyalBlue;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#more {
  position: relative;
  margin-top: 5em;
  width: 160px;
  height: 40px;
  box-shadow: 0 5px 10px var(--trans-black);
}

main {
  margin-bottom: 150px;
}

main h1 {
  font-family: 'Open Sans', sans-serif;
  color: RoyalBlue;
  font-weight: 300;
}

.top-ponude {
  padding: 3em;
  padding-top: 0;
  font-weight: 400;
  color: RoyalBlue;
}

#ponude-picker {
  width: 80%;
  margin: auto;
  flex: 0 0 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.arrow-btn {
  color: RoyalBlue;
  font-size: 28px;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 0 4px 50px var(--trans-black);
  border: none;
  border-radius: 2em;
  top: 50%;
  display: none;
}

.arrow-btn-left::before {
  margin-right: 4px;
}

.arrow-btn-right::before {
  margin-left: 4px;
}

.ponuda {
  text-align: center;
  height: 23em;
  display: inline-flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
}

.ponuda-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: gray;
  flex-shrink: 0;
}

.line {
  width: 100%;
  padding-top: 8em;
  padding-bottom: 8em;
}

.line2 {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.img-and-label, .text {
  width: 100%;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.labels {
  font-size: 2em;
  text-align: center;
}

.text {
  font-family: 'Open Sans', sans-serif;
  color: RoyalBlue;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 10%;
}

#footer-logo-text {
  padding: 10%;
}

#consult {
  flex-direction: column-reverse;
}

.oglas {
  margin: 2%;
  padding: 2%;
  box-shadow: 0 4px 57px var(--trans-black);
  border-radius: 50px;
  font-family: Times New Roman;
  font-style: normal;
  text-align: center;
}

.pages {
  justify-content: center;
}

.pages a {
  color: RoyalBlue;
  background-color: AliceBlue;
  font-size: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

#location, #img-selector, #ponude-picker, .pages {
  display: flex;
  align-items: center;
}

#location {
  justify-content: space-between;
}

#img-selector {
  justify-content: space-evenly;
}

#location div {
  flex: 1;
}

#location div:nth-child(3) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#location div:last-child {
  border: none;
}

.prices {
  font-family: Roboto;
  font-style: normal;
  color: #1CA49B;
  border: none;
}

.prices:not(.original-price) {
  font-size: min(2.62vw, 50px);
  line-height: min(3.09vw, 59px);
}

.prices p {
  text-align: right;
}

.original-price {
  color: red;
  text-decoration: line-through;
  font-size: min(1.83vw, 35px);
  line-height: min(2.15vw, 41px);
}

#show-location {
  font-family: Open Sans;
  font-style: normal;
  font-size: 25px;
  line-height: 34px;
}

.oglas-line {
  width: 100%;
  border: 1px solid var(--light-blue);
  margin-top: 1em;
  margin-bottom: 1em;
}

#glavna-slika {
  max-width: 100%;
}

.smol-slika {
  display: inline-flex;
  max-width: 8em;
}

.izabrana-slika {
  border: 10px solid RoyalBlue;
}

.oglas-line-2 {
  width: 40%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prva {
  margin: auto;
}

.prva th {
  font-size: 24px;
  line-height: 28px;
  padding: 1em;
  border-right: 1px solid RoyalBlue;
  font-weight: 400;
}

.prva th:last-child {
  border-right: none;
}

.prva td {
  opacity: .54;
  font-size: 12px;
  line-height: 14px;
}

.druga td, .druga th {
  font-size: 25px;
  line-height: 29px;
  border-right: 1px solid RoyalBlue;
}

.druga th {
  opacity: .35;
  padding-top: 0;
  padding-bottom: 0;
}

.druga td:last-child {
  border-right: none;
}

.druga td {
  opacity: 1;
}

.tekst-oglasa {
  height: 250px;
  overflow: auto;
}

.tekst-oglasa h1 {
  width: 300px;
}

.tekst-oglasa p {
  font-size: 15px;
  line-height: 17px;
  text-align: left;
  margin-left: 4em;
}

.tekst-oglasa::-webkit-scrollbar {
  width: 9px;
}

.tekst-oglasa::-webkit-scrollbar-track {
  width: 1px;
  color: var(--light-blue);
}

.tekst-oglasa::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid var(--dark-blue);
}

.button-oglas {
  width: 300px;
  height: 72px;
  background: #4169E1;
  color: var(--off-blue);
  box-shadow: 0 4px 11px 1px var(--trans-black);
  border: none;
  border-radius: 19px;
}

.top-ponude-result {
  padding-top: 2em;
  padding-bottom: 0;
}

.oglas-result {
  border-radius: 20px;
  padding: 1em !important;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-family: 'Open Sans', sans-serif;
}

.ponuda-img-result {
  width: 75px;
  height: 75px;
  margin: 1em;
}

.vl {
  width: 2px;
  background-color: black;
}

.oglas-result-right {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.oglas-result-top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.rows {
  flex-direction: column;
}

.oglas-result-location, .rows {
  display: flex;
}

.oglas-result-table {
  border-collapse: collapse;
}

.oglas-result-table tr {
  border-bottom: .25px solid black;
}

.oglas-result-table tr:last-child {
  border-bottom: none;
}

.oglas-result-table td {
  padding: .8em;
  padding-right: 3em;
  text-align: left;
  font-size: 20px;
  line-height: 27px;
}

.oglas-result-table th {
  font-size: 35px;
  line-height: 48px;
  font-weight: 400;
  color: var(--dark-blue);
}

footer {
  background-color: gray;
  color: #FCFCFC;
  padding-top: 72px;
  padding-bottom: 100px;
  font-weight: 200;
}

#footer-logo {
  margin-left: 36px;
  margin-right: 16px;
}

#footer-text {
  padding-left: 10%;
  padding-top: 30px;
}

#footer-text img {
  width: 30px;
  height: 30px;
}

#footer-text a {
  color: white;
}

.usluge-lokacija {
  font-size: 20px;
}

.d-none {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#poruka {
  width: 80%;
}

@media (pointer: fine) {
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), .button, .dot:hover {
    cursor: pointer;
  }

  a:hover:not(.noa) {
    text-decoration: underline;
  }
}

@media screen and (min-width: 475px) {
  #logo-right {
    float: right;
  }
}

@media screen and (min-width: 768px) {
  .img-and-label {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .text {
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #footer-logo-text, .text {
    padding: 0;
  }

  .oglas {
    font-size: 25px;
    line-height: 29px;
  }

  .ponuda-img-result {
    width: min(20vw, 250px);
    height: min(20vw, 250px);
  }
}

@media screen and (min-width: 992px) {
  .ponuda {
    flex: 0 0 20em;
  }

  #ponude-picker, .rows, #consult {
    flex-direction: row;
  }

  #glavna-slika {
    margin: 2em;
    height: 500px;
    width: auto;
  }

  .oglas {
    margin: 5%;
    padding: 5em;
  }

  .prva th {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1211px) {
  header {
    height: 66vh;
    background-image: url("../images/background-big.webp");
  }

  .arrow-btn {
    display: block;
  }

  .button-search {
    margin-left: 3em;
  }
}